img{
    height: 470px;
    width: 200px;
}
.tu{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
#t1{background: linear-gradient( rgb(163, 184, 201),rgb(113, 142, 164));
    width: 400px;
    color: white;
    text-align: center;
    margin-left: 460px;
    background-clip: border-box;
    border-bottom: 2px solid rgb(113, 142, 164);  
    border-right: 2px solid rgb(113, 142, 164); 
    border-left: 2px solid rgb(113, 142, 164); 
    box-shadow: 4px 4px 5px rgb(113, 142, 164);
}
